@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h2>Index</h2>

    <p>Hello from our View Template!</p>
    <a class="btn btn-primary btn-lg text-center" href="@Url.Action("Create","Recipe")">Create Recipe</a>
</div>